/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Aug-2019, 14:13:17
    Author     : Liz
*/

body {
  background-color: #EDD1B0;
}

p{
  font-family: arial;
  color: darkolivegreen;
  overflow: auto;
}

h1 {
  color: darkolivegreen;
  text-align: center;
  font-family: arial;
}

h2 {
  color: darkolivegreen;
  font-family: arial;
}

.Button {
    background-color: darkolivegreen;
    text-align: center;
    font-family: arial;
    width: 20%;
    display: block;
    color:white;
    margin: 20px;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
   font-size: 20px;
}

.Button:hover {
  background-color: #4CAF50; 
  color: black;
}

.Menu{
    background-color: lemonchiffon;
    font-family: arial;
    width: 20%;
    display: block;
    margin: 20px;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 20px;
    color: darkolivegreen;
}

#recordTime{
  height: 2em;
  width: 100%;
  display: block;
  margin: 20px;
  border-radius: 5px;
  font-family: arial;
  color: darkolivegreen;
  font-size: 20px;
}

.InputText{
  height: 25px;
  width: 25%;
  display: block;
  margin: 20px;
  border-radius: 5px;
  background-color: lemonchiffon;
  overflow: auto;
  font-family: arial;
  color: darkolivegreen;
  font-size: 20px;
}

.Checkbox{
  height: 25px;
  width: 25px;
  display: block;
  margin: 5px;
  border-radius: 20px;
  background-color: lemonchiffon;
}

.InputTextArea{
  height: 25%;
  width: 25%;
  display: block;
  margin: 20px;
  border-radius: 5px;
  background-color: lemonchiffon;
  overflow: auto;
  font-family: arial;
  color: darkolivegreen;
  font-size: 20px;  
}


#Image1{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 60%;
    height: 50%;
    border: 3px solid;
}

#Image2{
    position: absolute;
    top: 10%;
    right: 35%;
    width: 30%;
    height: 50%;
    border: 3px solid;
}

#Image3{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 30%;
    height: 50%;
    border: 3px solid;
}

#Image4{
    position: absolute;
    top: 10%;
    right: 15%;
    height: 50%;
}

th {
   background-color: darkolivegreen;
   color: white;
   padding: 10px;
   text-align: left;  
   border: 1px solid black; 
}

td{
   padding: 10px;
   text-align: left;  
   border: 1px solid black; 
}

table {
   position: absolute;
   top: 10%;
   right: 5%;
   width: 60%;
   height: 50%;
   table-layout: auto;
   background-color: lemonchiffon;
   font-family: arial;
   color: darkolivegreen;
   font-size: 20px;
   border: 1px solid black; 
}

.Table1{
   position: absolute;
   top: 15%;
   right: 35%;
   width: 60%;
   table-layout: auto;
   background-color: lemonchiffon;
   font-family: arial;
   color: darkolivegreen;
   font-size: 20px;
}

.Table2 {
   position: absolute;
   top: 65%;
   right: 35%;
   width: 35%;
   table-layout: auto;
   background-color: lemonchiffon;
   font-family: arial;
   color: darkolivegreen;
   font-size: 20px;
}

.Table3 {
   position: absolute;
   top: 65%;
   right: 5%;
   width: 35%;
   table-layout: auto;
   background-color: lemonchiffon;
   font-family: arial;
   color: darkolivegreen;
   font-size: 20px;
}

